@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700&display=swap");

body {
  margin: 0;
  font-family: "Nunito", sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#diaSemana {
  color: brown;
}

.paper1{
  background-color: #ffb952 !important;
  border-radius: 10px !important;
}
.paper2{
  background-color: #87ff8b !important;
  border-radius: 10px !important;
}
.paper3{
  background-color: #87ddff !important;
  border-radius: 10px !important;
}
